@inject IAppConfiguration AppConfig

<footer class="flex justify-between bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50 border-t-gray-900 border-t-1 dark:border-t-gray-50"
        data-testid="@TestIds.Footer.Section">

    @if (!AppConfig.IsProduction)
    {
        <Section class="flex items-start flex-col border-e-1">
            <CommandDecoration CommandText="env" />
            <p data-testid="build-environment">
                <strong>Deploy Environment:</strong> @AppConfig.DeployEnvironment
            </p>
        </Section>
    }

    <Section class="flex items-start flex-col border-s-1">
        <CommandDecoration CommandText="copyright" />
        <p data-testid="copyright">
            &copy; 2025 - rundog.dev
        </p>
    </Section>

</footer>
