<header data-testid="@TestIds.Header.Section">
    <section data-testid="@TestIds.Header.LinksSection">
        <ul>
            <li>
                <a href="https://github.com/markstanden">github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/markstanden/">linkedin</a>
            </li>
        </ul>
    </section>
</header>
