@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<Header></Header>
<main data-testid="@TestIds.Main.Section" id="@Selectors.InitialFocus.Id" tabindex="-1">
    @Body
</main>
<Footer></Footer>
