@page "/"

<PageTitle>@Site.Title</PageTitle>

<Section data-testid="@TestIds.Hero.Section"
         class="min-h-96 flex flex-col items-start justify-items-center-safe px-4">
    <Hero />
</Section>
